<%-include("../partials/header")-%>

    <div class="container">
        <h2>Quote of the day:</h2>
            <p>
                <%=body%>
            </p>
        <div class="heading">
            
            <h1>Here you will be tested with various differnet types of questions to evaluate your interest</h1>
        </div>
        <div class="buttons">
            <button class="first">Ready</button>
            <a href="/"><button class="first">Not Ready?</button></a>

        </div>
        <div class="about-tests">
            <h2>Read Carefully</h2>
            <p>Welcome to the Assessment , a tool (rather your buddy) designed to help you explore your interests and
                passions to make informed career choices. Your career journey is a significant part of your life, and it
                is very essential to find a path that aligns with your strengths and passions. Please answer all the
                given questions honestly and thoughtfully as it holds the key to get in depth with your interest and
                really excel in it and reach unimaginable heights...</p>
        </div>
    </div>

    <%-include("../partials/footer")-%>