<%-include("../partials/header")-%>
    <div class="page1">
        <div class="page1-heading">
            <div class="page1-heading-left">
                <h1 id="first">Not Sure?</h1>
                <h2 id="second">We got you!</h2>
            </div>
            <div class="page1-heading-right">
                <img src="/images/image.GIF" alt="image">
            </div>
        </div>
        <video autoplay muted loop src="/videos/final_video.mp4"></video>
    </div>
    <div class="page2">
        <div class="box">
            <img src="/images/image1.jpg" alt="" height="400px" width="400px">
            <div class="text-div">
                <h1>Goals</h1>
                <h1>Goals</h1>
            </div>
            <img src="/images/image1.jpg" alt="" height="400px" width="400px">
        </div>
        <div class="box">
            <img src="/images/image2.jpg" alt="" height="400px" width="400px">
            <div class="text-div">
                <h1>Career</h1>
                <h1>Career</h1>
            </div>
            <img src="/images/image2.jpg" alt="" height="400px" width="400px">
        </div>
        <div class="box">
            <img src="/images/image3.jpg" alt="" height="400px" width="400px">
            <div class="text-div">
                <h1>Vision</h1>
                <h1>Vision</h1>
            </div>
            <img src="/images/image3.jpg" alt="" height="400px" width="400px">
        </div>
    </div>
    <div class="page3">
        <div class="page3-left">
            <video autoplay muted loop src="/videos/2nd video.mp4"></video>
        </div>
        <div class="page3-right">
            <h1>Having Second thoughts?</h1>
            <h1>Confused between multiple interests</h1>
            <a href="testhome" class="button">Assess yourself</a>
        </div>
    </div>
<%-include("../partials/footer")-%>